<div class="rhino-block rhino-block-{{ block.id }} {{ block.settings.size }}">

  {% if block.settings.background != blank %}
    {% include 'set-rhino-block-background' %}
  {% endif %}

  <!-- rbi stands for "rhino block inner" -->
  <div class="rbi-1-container">

    <div class='rbi-1-text-container'>
      <h1 class="rbi-1-title"> {{ block.settings.rbi_1_title }} </h1>

      <div class="rbi-1-text">
        {{ block.settings.rbi_1_text }}
      </div>
    </div>


    <div class='rbi-1-media-container'>
      {% if block.settings.rbi_1_image != blank %}
        <div class="rbi-1-image">
          <img src="{{ block.settings.rbi_1_image | img_url: '1024x' }}">
        </div>
      {% endif %}
    </div>

  </div>

  <div class="rbi-2-container">
    <div class='rbi-2-text-container'>
      <h1 class="rbi-2-title"> {{ block.settings.rbi_2_title }} </h1>

      <div class="rbi-2-text">
        {{ block.settings.rbi_2_text }}
      </div>
    </div>
    <div class='rbi-2-media-container'>
      {% if block.settings.rbi_2_image != blank %}
        <div class="rbi-2-image">
          <img src="{{ block.settings.rbi_2_image | img_url: '1024x' }}">
        </div>
      {% endif %}
    </div>
  </div>

  {% include 'set-rhino-block-settings' %}


</div>
